#!/bin/sh

# setting ip of specified by eth parameter interface to set IP for Mesos

if ! grep -q IP= {{ mesos_default_config }}; then
   /sbin/ifconfig {{ eth }} | grep 'inet addr:' | cut -d: -f2 | awk '{ print "IP="$1 }' >> {{ mesos_default_config }}
fi

if [ ! -f {{ mesos_master_hostname }} ]; then
    /sbin/ifconfig {{ eth }} | grep 'inet addr:' | cut -d: -f2 | awk '{ print $1 }' >> {{ mesos_master_hostname }}
fi

if [ ! -f {{ mesos_slave_hostname }} ]; then
    /sbin/ifconfig {{ eth }} | grep 'inet addr:' | cut -d: -f2 | awk '{ print $1 }' >> {{ mesos_slave_hostname }}
fi
