#Example of flume.conf for http source and hdfs sink
#Json input and avro output

# Sources, channels, and sinks are defined per
# agent name, in this case 'httptoavro'.
httptoavro.sources  = source1
httptoavro.channels = channel1
httptoavro.sinks    = sink1

# For each source, channel, and sink, set
# standard properties.
httptoavro.sources.source1.type     = http
httptoavro.sources.source1.bind     = 0.0.0.0
httptoavro.sources.source1.port     = 9999
httptoavro.sources.source1.channels = channel1
httptoavro.sources.source1.deserializer.schemaType = LITERAL
httptoavro.channels.channel1.type   = memory
httptoavro.channels.channel1.capacity = 10000

httptoavro.sinks.sink1.type = hdfs
httptoavro.sinks.sink1.channel = channel1
httptoavro.sinks.sink1.hdfs.path = /user/flume/weblogs
httptoavro.sinks.sink1.hdfs.inUsePrefix = .
httptoavro.sinks.sink1.hdfs.fileSuffix = .avro
httptoavro.sinks.sink1.hdfs.rollCount = 0
httptoavro.sinks.sink1.hdfs.batchSize = 100
httptoavro.sinks.sink1.hdfs.rollInterval = 30
httptoavro.sinks.sink1.hdfs.rollSize = 0
httptoavro.sinks.sink1.hdfs.fileType = DataStream
httptoavro.sinks.sink1.hdfs.timeZone = Europe/Moscow
httptoavro.sinks.sink1.hdfs.maxOpenFiles = 1
httptoavro.sinks.sink1.serializer = avro_event
